/* Comment goes here */
.page-title
{
    font-family: serif;
    font-weight: bold;
}

.home
{
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
}

.card-img-top
{
    height: 300px;
}

.icon-features
{
    margin: 10px;
}

.copy-right
{
    background-color: LightGray;
}

#float-image
{
    width: 50%;
    height: 50%;
}

#addMusic
{
    background-color: #0d6efd;
    color: whitesmoke;
}